CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
ACCESS_TOKEN=your_access_token
REFRESH_TOKEN=your_refresh_token


AUTH_URL = 'https://account.accurate.id/oauth/authorize'
TOKEN_URL = 'https://account.accurate.id/oauth/token'
REDIRECT_URI = 'http://localhost:3000/callback'
API_BASE_URL= 'https://yourapi.example.com'

POSTGRES_HOST=postgres
POSTGRES_DB=accurate-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SCOPE = 'customer_view customer_category_view item_view item_category_view warehouse_view branch_view sales_invoice_view'